# Twitch Configuration
TWITCH_CHANNEL=votre_channel_twitch
TWITCH_BOT_USERNAME=votre_bot_username
TWITCH_OAUTH_TOKEN=oauth:votre_token_twitch

# Discord Configuration
DISCORD_TOKEN=votre_discord_bot_token
DISCORD_CHANNEL_ID=votre_channel_id_discord

# Minecraft RCON Configuration
MINECRAFT_RCON_HOST=localhost
MINECRAFT_RCON_PORT=25575
MINECRAFT_RCON_PASSWORD=votre_password_rcon

# Minecraft server path + java
MINECRAFT_SERVER_PATH=C:/MinecraftServer
MINECRAFT_SERVER_JAR=server.jar
MINECRAFT_SERVER_JAVA_ARGS=-Xmx4G -Xms1G
JAVA_PATH=C:/Program Files/Java/jdk-21/bin/java.exe

# Reset map behavior
MINECRAFT_USE_TEMPLATES=true

# Overlay OBS
OVERLAY_PORT=3001
MINECRAFT_LOG_PATH=./logs/latest.log

# Logs
DEBUG=false
