# Twitch Configuration
TWITCH_CHANNEL=votre_channel_twitch
TWITCH_BOT_USERNAME=votre_bot_username
TWITCH_OAUTH_TOKEN=oauth:votre_token_twitch

# Discord Configuration
DISCORD_TOKEN=votre_discord_bot_token
DISCORD_CHANNEL_ID=votre_channel_id_discord

# Minecraft RCON Configuration
MINECRAFT_RCON_HOST=localhost
MINECRAFT_RCON_PORT=25575
MINECRAFT_RCON_PASSWORD=votre_password_rcon

# Logs
DEBUG=false
